{% extends "base.html.twig" %}

{% block body %}

    <div class="px-4 py-5 my-5 text-center">
{#        <img class="d-block mx-auto mb-4" src="/docs/5.1/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">#}
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            {% if proxy == true %}
                <div class="alert alert-primary" role="alert">
                    Proxy is found
                </div>
            {% endif %}
            {% if torNetwork == true %}
                <div class="alert alert-danger" role="alert">
                    Tor Network detected
                </div>
            {% endif %}
        </div>
        <h1 class="display-5 fw-bold">IP - {{ ip.REMOTE_ADDR }}:{{ ip.REMOTE_PORT }}</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">
                {% if data is iterable %}
                    {% for key, value in data %}
                {{ key }} - {{ value }}<br>
                    {% endfor %}
                {% endif %}
            </p>
        </div>
    </div>

{% endblock %}